main {
    display: grid;
    grid-template-columns: 1fr 4fr 0.3fr;
    background-color: rgb(0,0,0, 0.1);
    
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}

.board-square {
    height: 4rem;
    border: solid 1px black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player-piece, .opponent-piece {
    width: 3vw;
    height: 3vw;
    border: solid 1px black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player-pieces, .opponent-pieces {
    display: grid;
    grid-template-columns: repeat(6, 1fr)    
}

header {
    height: 4rem;
}

span {
    width: 1rem;
}

.possible-move {
    border-color: green;
    background-color: green;
    opacity: 0.3;
}

.opponent-pieces {
    margin-bottom: 3rem;
}

.land {
    background-color: green;
}
.water {
    background-color: lightblue;
}

.player1 {
    background-color: rgb(0, 0, 255)
}

.player2 {
    background-color: rgb(255, 0, 0)
}
.deployment-option {
    background-color: grey;
}