* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

main,
li {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
}

a,
button {
    color: inherit;
}

img {
    width: 100%;
    border: 0;
    height: auto;
}